---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Ramos">
    <main class="max-w-3xl w-full m-auto mt-20">
        <h1 class="text-5xl font-semibold text-white">Mi trabajo</h1>
        <p class="text-lg text-gray-400 font-semibold mt-10">Durante mi carrera como programador he tenido la oportunidad de experimentar con diversos problemas del desarrollo, mis ultimas posiciones como desarrollador en las cuales destaque fueron:</p>
        <section class="mt-5">
            <article >
                <h2 class="text-3xl font-semibold my-3 text-white ">No country</h2>
                <div class="flex gap-3 text-base text-gray-500">
                    <span>Desarrollador frontend</span>
                    <span>Jun 2023 - Dic 2023</span>
                </div>
                <p class="text-lg mt-2 text-gray-400 font-semibold">En mi rol como Desarrollador Frontend en No Country, he desempeñado un papel fundamental en la creación y mejora continua de las interfaces de usuario de nuestras aplicaciones web.</p>
                <ul class="text-lg flex flex-col gap-3 mt-6 list-disc text-gray-400 font-semibold">
                    <li><p>Dirigí la maquetación de interfaces, aplicando principios de diseño responsivo y asegurando la accesibilidad en diversas plataformas</p></li>
                    <li><p>Desarrollé la lógica de programación en el frontend, colaborando estrechamente con el equipo de backend. Esta colaboración ha sido esencial para integrar servicios, como el inicio de sesión con Google, asegurando la coherencia y la seguridad en la interacción de la aplicación.</p></li>
                </ul>
            </article>
            <article class="mt-7">
                <h2 class="text-3xl font-semibold my-3 text-white ">Nuclea Solutions</h2>
                <div class="flex gap-3 text-base text-gray-500">
                    <span>Desarrollador full stack</span>
                    <span>Marzo 2023 - Jun 2023</span>
                </div>
                <p class="text-lg mt-2 text-gray-400 font-semibold">Durante mi tiempo en la empresa, me enfoqué en la implementación de soluciones utilizando el stack tecnológico de FlutterFlow y Firebase. Aquí algunos aspectos destacados de mi experiencia:</p>
                <ul class="text-lg flex flex-col gap-3 mt-6 list-disc text-gray-400 font-semibold">
                    <li><p>Encabecé la maquetación de interfaces, aprovechando las capacidades de FlutterFlow para crear experiencias de usuario atractivas y funcionales. La implementación sin código permitió una rápida iteración y adaptación a los requisitos cambiantes del proyecto.</p></li>
                    <li><p>Desarrollé la lógica de programación en el frontend, colaborando estrechamente con Firebase para la gestión de datos y servicios backend. La integración exitosa con Firebase abarcó aspectos como la autenticación de usuarios, almacenamiento de datos y otras funcionalidades clave.</p></li>
                </ul>

            </article>
        </section>
    </main>
</Layout>