---
interface Props {
  title: string;
}

import { Image } from 'astro:assets';
import arrow from '../icons/arrow.svg'
import { Icon } from 'astro-icon/components';
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-primary">
    <header class="max-w-3xl w-full m-auto mt-14">
      <ul
      class="flex gap-4 text-white font-medium text-base"
        >
        <li>
          <a href="/" class=" text-base ">Home</a>
        </li>
        <li>
          <a href="/work" class="text-base ">Trabajo</a>
        </li>
      </ul>
      <div class="mt-8 text-gray-300 flex gap-4">
        <a id="correo" href="https://www.linkedin.com/in/daniel-ramos21/" class="flex border-b-[1px] border-b-zinc-400  max-w-max items-center">Seguir linkedIn <Image src={arrow} alt='arrow-icon' class="w-5 h-5" /></a>
        <a class="border-b-[1px] border-zinc-400" href="../../public/DANIEL.pdf" download="DANIEL-RAMOS-CV">Descargar CV</a>
        <div class="flex items-center gap-2 ">
          <a href="mailto:daniel21develop@gmail.com" class="flex gap-3 border-b-[1px] border-zinc-400 max-w-max items-center">Enviar un correo</a>
            <Icon id="copy"  name="copy" class="text-zinc-400 cursor-pointer duration-150 hover:text-white" />
        </div>
      </div>
    </header>
        <slot />
  </body>
</html>


<script>
  const correoElectronico = 'daniel21develop@gmail.com';

function copiarCorreo(correo: string) {
    const elementoCorreo = document.createElement('textarea');
    elementoCorreo.value = correo;
    document.body.appendChild(elementoCorreo);
    elementoCorreo.select();
    document.execCommand('copy');
    document.body.removeChild(elementoCorreo);
    alert('¡Correo copiado al portapapeles!');
  }
    const icon = document.getElementById("copy")
  
    icon?.addEventListener("click", () => {
      copiarCorreo(correoElectronico)
    })

</script>